In [2]:
import pandas as pd

In [3]:
arquivo = pd.read_csv('matriz.csv', sep = ",")

   Test  Best Match
0     1           1
1     1           1
2     1           1
3     1           1
4     1           1

In [5]:
from sklearn import datasets

In [6]:
from sklearn.metrics import confusion_matrix

In [7]:
confusion_matrix(arquivo['Test'], arquivo['Best Match'])

array([[72,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0],
       [ 0, 78,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0, 76,  1,  0,  0,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0, 70,  0,  1,  0,  4,  0,  4,  0,  0],
       [ 0,  0,  0,  0, 86,  0,  0,  0,  0,  0,  0,  0],
       [10,  0,  0,  0,  0, 56,  1,  0,  0,  0, 16,  0],
       [ 0,  6,  0,  0,  0,  0, 63,  0,  0,  3,  0,  2],
       [ 0,  0,  0,  1,  0,  2,  0, 76,  0,  3,  0,  0],
       [20,  0,  0,  0,  0,  0,  0,  0, 60,  0, 10,  0],
       [ 0,  0,  0,  0,  0,  0,  9,  1,  0, 69,  0,  1],
       [ 1,  0,  0,  2,  0, 18,  0,  4,  0,  0, 53,  0],
       [ 0,  7,  0,  0,  0,  0, 16,  0,  0,  3,  0, 52]])

In [12]:
array = confusion_matrix(arquivo['Test'], arquivo['Best Match'])

In [13]:
df = pd.DataFrame(array, columns=["1",'2','3','4','5','6','7','8','9','10','11','12'], index=["1",'2','3','4','5','6','7','8','9','10','11','12'])

In [14]:
df

     1   2   3   4   5   6   7   8   9  10  11  12
1   72   0   0   0   0   0   0   0   2   0   0   0
2    0  78   0   0   0   0   0   0   0   0   0   0
3    0   0  76   1   0   0   0   1   0   0   0   0
4    0   0   0  70   0   1   0   4   0   4   0   0
5    0   0   0   0  86   0   0   0   0   0   0   0
6   10   0   0   0   0  56   1   0   0   0  16   0
7    0   6   0   0   0   0  63   0   0   3   0   2
8    0   0   0   1   0   2   0  76   0   3   0   0
9   20   0   0   0   0   0   0   0  60   0  10   0
10   0   0   0   0   0   0   9   1   0  69   0   1
11   1   0   0   2   0  18   0   4   0   0  53   0
12   0   7   0   0   0   0  16   0   0   3   0  52